// add customs styles and general overrides here
// due to the cascading nature of css, if you try to override theme css variables in this file, those changes will not apply. Instead, override css variables in the `override.sass` file
// we recommend not editing this file directly. Instead, create an `assets/sass/_custom.sass` file at the root level of your site.
// if you edit this file directly, you will have to resolve git conflicts when and if you decide to pull changes we make on the theme

$main-blue: #1b3c6c
$text-color: #e9ebf1
$orange-color: #ed8c3d

body
    background: white

.excerpt
    display: flex
    overflow: auto
    position: relative
    gap: 20px


.excerpt_footer
    width: 100%
    flex: 2
    h3
        font-weight: bold
        color: $main-blue
        font-size: 35px
    &_title
        display: flex
        align-items: center
        justify-content: space-between

.member_site
    font-size: 18px
    padding: 5px 15px
    border-radius: 25px
    background-color: #edc883
    text-decoration: none
    color: $main-blue
    &:visited
        color: $main-blue

.excerpt:has(.communityGroup)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    background-color: $text-color
    border-radius: 50px

.excerpt:has(.communityGroup) .excerpt_header,
.excerpt:has(.communityGroup) .excerpt_footer .pale
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.excerpt:has(.communityGroup) .excerpt_footer
    a
        max-width: 80%
        text-align: left

.excerpt:has(.communityGroup) .excerpt_footer .pale a
    display: none


.excerpt:has(.communityGroup) .excerpt_header h3
    font-size: 200%


.communityGroup
    color: $main-blue!important
    font-weight: bold
    text-align: center
    background-color: inherit

.image_excerpt
    display: bloc
    width: 10em

.image_single
    display: bloc
    width: 20em

.nav_header
    height: 100px
    background-color: #1b3c6c

.nav_body
    justify-content: flex-end
    gap: 50px

.nav_item
    text-decoration: none
    color: inherit
    
.nav_item[title="EDRLab website"]
    border: 1px solid white
    border-radius: 5px
    color: white
    background-color: #1b3c6c
    font-weight: bold

.content
    padding-top: 8rem

    
.sidebar_inner::before
    background: $text-color
    padding: 1px
    top: 30px

.search
    input
        background-color: $text-color
        padding: 1rem
        box-shadow: unset
    
.join_button, .become_member, .excerpt_more
    color: white!important
    text-decoration: none
    background-color: $orange-color
    border-radius: 40px
    width: fit-content
    padding: 10px 50px
    margin: 30px auto
    font-size: 20px
    text-align: center 
    transition: 300ms
    border: none
    &:hover
        border: none
    &:visited
        color: white!important

.become_member_container
    display: flex
    width: 100%
    align-items: start
    > div
        flex: 1
        > p
            font-size: 16px
        strong
            font-size: 18px
            color: $main-blue
    figure
        flex: 2

.footer
    height: fit-content
    background-color: #f4f8fe


.footer_inner
    display: flex
    align-items: flex-start
    justify-content: space-around
    margin: 0 40px
    max-width: unset
    height: 100%
    color: #1b3c6c
    div
        flex: 1
        max-width: 300px
    h6
        margin-bottom: 15px
    svg
        fill: #1b3c6c
        background-color: white
        padding: 10px
        border-radius: 50%
        height: 20px
        width: 20px
        box-sizing: content-box

.readium_container
    max-width: 250px

.address, .mail
    display: flex
    align-items: center
    gap: 10px
    margin-bottom: 20px
    address, a
        font-style: unset
        color: #1b3c6c
        text-decoration: none

.follow
    justify-content: flex-start
.copyright
    position: absolute
    bottom: 0
    display: flex
    align-items: center

.post_body
    h1
        color: $main-blue
        font-size: 50px
        font-weight: bold
    h2
        color: $main-blue
        font-size: 40px
    h3
        color: $main-blue
        font-size: 25px

.post_link
    text-decoration: none
    color: inherit

.button
    text-transform: none

.post_tag
    text-transform: lowercase
    font-size: 1em

.membersCounter
    color: $main-blue
    border: 1px solid $main-blue
    border-radius: 40px
    width: fit-content
    padding: 20px
    margin: 30px auto
    font-size: 20px
    width: 100%
    text-align: center

.button_tally
    padding: 0.2rem 0.75rem
    line-height: 1

.membership_container
    position: relative
    h3
        font-size: 20px
        margin: 0
    p
        font-size: 16px
    div
        max-width: 75%
        border-left: 3px solid $main-blue
        padding: 5px 10px
        margin: 20px
    .join_button
        position: absolute
        right: 0

.post_body:has(#why-should-i-become-a-member) ul
        list-style: "+ "
        padding-left: 20px
        li
            margin: 15px 0
        li::marker
            color: $orange-color
            font-size: 25px
        ul
            list-style: "> "
            li::marker
                color: inherit
                font-size: 14px
table
    border-collapse: collapse
    text-align: left

td:not(:first-child), th:not(:first-child)
    text-align: right

th, td:not(:first-child)
    font-weight: bold
    color: $main-blue

td, th
    background-color: white
    border-left: none
    border-right: none
    border-top: none
    border-bottom: 2px solid $text-color

tbody tr:nth-child(even)
    background-color: 

@media screen and (max-width: 900px)
    .grid-inverse
        grid-column-gap: 1rem
    .footer_inner
        flex-direction: column
        align-items: center

@media screen and (max-width: 769px)
    .jsopen .nav_body 
        transform: translateX(calc(100vw - 265px))!important
        justify-content: flex-start


@media screen and (max-width: 769px)
    .nav_body_left 
        transform: translateX(100vw)!important
    .follow
        position: absolute
        bottom: 100px
