<li class="post_item">
  <div class="excerpt">
    {{- if .Params.featureImage }}
    <div class="excerpt_header">
      <img src="{{ .Params.featureImage }}" alt="" class="image_excerpt">
    </div>
    {{ else }}
    <span></span>
    {{ end }}
    {{- with .Params.thumbnail }}
    <div class="excerpt_footer partition">
      <div class="excerpt_thumbnail">
        {{- partial "image" (dict "file" . "alt" $.Title "type" "thumbnail" "Page" $.Page ) }}
      </div>
      {{ else }}
      <div class="excerpt_footer">
        <div class="excerpt_footer_title">
          <h3 class="post_link">
            <a {{ if or (in .Params.layout "definitions") }}class="post_link communityGroup"{{ else }}class="post_link"{{ end }} href="{{ .Permalink }}" title="{{ .Title | markdownify }}">{{ .Title | markdownify }}</a>
          </h3>
          <a href="{{ .Params.member_url }}" class="member_site">
            <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 15.6569V10M14 10H8.34315M14 10L5.63604 18.364M10.2432 20.8278C13.0904 21.3917 16.1575 20.5704 18.364 18.364C21.8787 14.8492 21.8787 9.15076 18.364 5.63604C14.8492 2.12132 9.15076 2.12132 5.63604 5.63604C3.42957 7.84251 2.60828 10.9096 3.17216 13.7568" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              {{ .Params.title }} website</a>
        </div>
        {{ partial "post-meta" . }}
        <br/>
        {{- end }}
        <div class="pale">
          {{- $summary := truncate 320 .Summary }}
          {{- if .Params.summary }}
            {{- $summary = .Params.summary }}
          {{- else if .Params.abstract }}
            {{ $summary = .Params.abstract }}
          {{- end }}
          {{ if not ( strings.Contains $summary "<p>" ) }}
            <p>{{ $summary | markdownify }}</p>
          {{ else }}
            {{ $summary | markdownify }}
          {{ end }}
          {{- $r := T "read_more" }}</p>
          <a href="{{ .Permalink }}" title="{{ $r }}" class="excerpt_more button">{{ $r }}</a>
        </div>
      </div>
    </div>
  </li>
