{{- $showShare := ne (.Param "showshare") false }}
{{- $showDate := ne (.Param "showdate") false }}
{{- $showReadTime := ne (.Param "showreadtime") false }}
{{- $showPostMeta := or ($showShare) ($showDate) ($showReadTime) (isset .Params "tags") }}
{{- $scratch := newScratch }}
{{- $scratch.Set "writeSeparator" false }}
{{- if $showPostMeta }}
  <div class="post_meta">
{{- end }}
  {{- if $showDate }}
    <span>{{ partial "sprite" (dict "icon" "calendar") }}</span>
    <span class="post_date">
      {{ .Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) -}}
    </span>
    {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
  {{- if $showReadTime }}
    <span class="post_time">{{ if ($scratch.Get "writeSeparator") }} · {{ end }}{{ T "reading_time" . }}</span>
    {{- $scratch.Set "writeSeparator" true }}
  {{- end }}

<section>
  {{- with .Params.crossroads -}}
  <h2>Crossroads</h2>
Also member of
  <span>
      {{- if ($scratch.Get "writeSeparator") }}&nbsp;· {{ end }}
      {{- range . }}
        {{- $crossroads := urlize . -}}
        <a href='{{ absLangURL (printf "crossroads/%s/" $crossroads) }}' title="{{ . }}" class="post_tag button button_translucent">
          {{- . }}
        </a>
      {{- end }}

    {{- end }}
    {{- with .Params.services -}}
  </section>

<section>
    <h2>Services</h2>
    Provides the following services.
  <span>
    {{- if ($scratch.Get "writeSeparator") }}&nbsp;· {{ end }}
    {{- range . }}
      {{- $services := urlize . -}}
      <a href='{{ absLangURL (printf "services/%s/" $services) }}' title="{{ . }}" class="post_tag button button_translucent">
        {{- . }}
      </a>
    {{- end }}
  </span>
</section>
  {{- $scratch.Set "writeSeparator" true }}
{{- end }}
  {{- if $showShare }}
    <span class="page_only">{{ if ($scratch.Get "writeSeparator") }}&nbsp;·{{ end }}{{ partial "share" . }}</span>
    {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
{{- if $showPostMeta }}
  </div>
{{- end }}
